DATABASE_URL="sqlite:file-upload-dev.db"

# See README for how to fill in these values.
AWS_ACCESS_KEY_ID="fill-me-in"
AWS_SECRET_ACCESS_KEY="fill-me-in"

AWS_S3_BUCKET_NAME="fill-me-in"
ASSET_HOST="https://${AWS_S3_BUCKET_NAME}.s3.amazonaws.com"
