<form id="sign-in-form" method="POST" action="/sessions">
  <input type="text" name="email" placeholder="Your Email">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Sign In</button>
</form>
