<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Flash Messages Example</title>
    <link rel="stylesheet" type="text/css" href="/normalize.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
  </head>
  <body>
    <div id="page">
      <header id="site-header">
        <h1><a href="/">Flash Messages Example</a></h1>
        <nav>
          <ol class="nav-links">
            <li>
              <a href="/chirps/new">New Chirp</a>
            </li>
          </ol>
        </nav>
      </header>
      <div id="main-content">
        <% if notice = get_flash(:notice) %>
          <div id="flash-notice">
            <%= notice %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
