/* BEGIN: Global styles */
a {
  color: rgb(153,51,51);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#page {
  margin: 0 auto;
  width: 900px;
  font-size: 16px;
}
/* BEGIN: Global styles */

/* BEGIN: Site header styles */
#site-header {
  margin-bottom: 20px;
  padding: 20px;
  height: 50px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: rgb(204,204,204);
}

#site-header h1 {
  float: left;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 50px;
}

#site-header nav .nav-links {
  float: right;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#site-header nav .nav-links li {
  float: left;
  margin-right: 20px;
  line-height: 50px;
}
/* END: Site header styles */

/* BEGIN: Photo list styles */
.photo-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.photo-list li {
  float: left;
  box-sizing: border-box;
  margin: 5px;
  padding: 0;
  width: 290px;
  height: 290px;
}

.photo-list .photo-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.photo-list .photo-container .photo-title {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 0 20px;
  width: 290px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  font-size: 14px;
  line-height: 40px;
  opacity: 0;
  transition: visibility 0.1s ease-in-out 0.25s, opacity 0.25s ease-in-out;
}

.photo-list .photo-container:hover .photo-title {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.photo-list .photo-container a.photo-title {
  color: white;
  display: block;
}

.photo-list .photo-container a.photo-title:hover {
  text-decoration: none;
}


.photo-list .photo-container .photo-thumb {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid rgb(250, 250, 250);
}
/* END: Photo list styles */

/* BEGIN: General photo styles */
.photo-container-full img {
  width: 900px;
}

.photo-container-full .photo-info {
  font-size: 14px;
}

.photo-container-full .photo-info .photo-date {
  font-style: italic;
}
/* END: General photo styles */

/* BEGIN: Form styles */
.horizontal-form {
  width: 400px;
}

.horizontal-form label,
.horizontal-form input,
.horizontal-form button {
  display: block;
  float: left;
}

.horizontal-form label {
  padding: 5px;
  width: 110px;
  height: 20px;
  font-weight: bold;
}

.horizontal-form input {
  clear: right;
  margin-bottom: 20px;
  padding: 5px;
  width: 268px;
  height: 20px;
  border: 1px solid #CCC;
}

.horizontal-form button {
  float: right;
  clear: both;
}
/* END: Form styles */
